<div id="formImage" class="container" (dragenter)="dragEnterImage()" (dragleave)="dragLeaveImage()">
    <form [formGroup]="formData" class="box" [ngClass]="{'is-dragover': isDragover}">
      <div class="box__input">
        <input class="box__file" type="file" name="imagePath" formControlName="imagePath" id="file-input" (change)="changeImgPath($event)"/>
        <label for="file-input" class="clickable"><strong>Choisir un fichier</strong><span class="box__dragndrop"> ou déposez le</span>.</label><br>
      </div>
      <div class="box__uploading">Téléchargement...</div>
      <div class="box__success">Reçu!</div>
      <div class="box__error">Erreur! <span></span>.</div>
    </form>
</div>
<div id="formVideo" class="form-container">
  <div class="mat-typography">
    <h2 class="mat-display-6">Insérer une vidéo peertube ?</h2>
  </div>
  <form [formGroup]="formVideo" (ngSubmit)="onClickSubmitVideoForm(formVideo.value)" novalidate style="font-size: 15px;">
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>URL</mat-label>
    <input (blur)="triggerChange()" (focus)="triggerChange()" (ngModelChange)="cbChangeUrl($event)" matInput formControlName="peertubeUrl" placeholder="https://instance.peertube.com/myvideo"/>
  </mat-form-field>
  <div class="buttonWrapper">
    <button mat-flat-button type="button" id="buttonSkip" color="warn" (click)="skipVideoUrl()">Skip</button>
    <button mat-flat-button id="buttonVideoOk" color="accent" [disabled]="!isValidVideoUrl">Ok</button>
  </div>
  </form>
</div>
