.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box {
    font-size: 1.25rem;
    background-color: #edeae6;
    outline: 2px dashed black;
    outline-offset: -10px;
    padding: 100px 20px;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    color: #0f3c4b;
    z-index: -1;
}


#formVideo{
    display:none;
}

#buttonSkip{
    margin-right: 45%;
}

.box__file + label:hover strong,
.box__file:focus + label strong
{
    color: #39bfd3;
}

.clickable{
    cursor: pointer;
}

.box__file{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.box__dragndrop {
    
    display: inline;
}

.box.is-dragover {
    background-color: grey;
}

.container{
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    z-index: 100;
}