#img{
    height:100%;
    width:100%;
}

#canvas{
	position: absolute;
	height:100%;
    width:100%;
	z-index: 5001;
	top:0;
	left:0;
}

.box{
    margin-bottom: -5px;
}

*, *::before, *::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

// #imageManagerComponent{
// 	display: none;
// }

#imageManagerButtonsContainer{
	z-index:5000;
	position: absolute;
	left:50%;
	top:50%;
	bottom: 50%;
}

#imageManagerValidateButton{
	width: 200px;
	height: 100px;
	margin-right: 40px;
	opacity: 1;
}

#imageManagerCancelButton{
	width: 200px;
	height: 100px;
	opacity: 1;
}

#imageManager {
    z-index:5000;
    margin-top: 10px;
    margin-left: 10px;
	border-radius: 10px;
	overflow: hidden;
	padding: 4px;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
		animation: rotate 4s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
	}
}