<div id="imageManagerComponent">
    <div id="imageManager">
        <div class="box">
            <img id="img" src=""/>
            <canvas id="canvas" #canvasPosition></canvas>
        </div>
    </div>
    <div id="imageManagerButtonsContainer">
        <button id="imageManagerValidateButton" [disabled]="!canSave" mat-flat-button color="primary" (click)="cbValidateButton()">Valider</button>
        <button id="imageManagerCancelButton" mat-flat-button color="accent" (click)="cbCancelButton()">Annuler</button>
    </div>
</div>


