<div id="formLogin">
    
    <mat-card>
        <button id="closeFormLogin" mat-mini-fab color="basic" aria-label="CloseBackToBack" (click)="closeForm()">
            <mat-icon>close</mat-icon>
          </button>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2>Connexion</h2>
            <mat-error *ngIf="loginInvalid">
              Couple username/password invalide
            </mat-error>
            <mat-error *ngIf="serverError">
              Error while contacting server
            </mat-error>
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Username" formControlName="username" (change)="inputFieldChange()" required>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input matInput type="password" placeholder="Password" formControlName="password" (change)="inputFieldChange()" required>
            </mat-form-field>
            <button mat-raised-button color="accent">Login</button>
          </form>
        </mat-card-content>
      </mat-card>
</div>