// @import '_variables';
// @import '_mixins';
// @import '~video.js/dist/video-js.css';
// @import '~videojs-dock/dist/videojs-dock.css';

// $assets-path: '../../assets/';
// @import '../../sass/player/index';

[hidden] {
  display: none !important;
}

// body {
//   font-family: $main-fonts;
//   font-weight: $font-regular;
//   color: #000;
// }

video {
  width: 99%;
}

/* fill the entire space */
html, body {
  height: 100%;
  margin: 0;
  background-color: #000;
}

#video-wrapper {
  width: 100%;
  height: 100%;
}

.video-js.vjs-peertube-skin {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .vjs-poster {
    background-size: 100% auto;
  }

  @media screen and (max-width: 350px) {
    .vjs-play-control {
      padding: 0 5px !important;
      width: 25px !important;
    }

    .vjs-volume-control {
      display: none !important;
    }

    .vjs-volume-panel {
      width: 26px !important;
    }

    .vjs-peertube-link {
      padding: 0;
    }
  }
}

#error-block {
  display: none;

  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  box-sizing: border-box;
  font-family: sans-serif;

  #error-title {
    font-size: 45px;
    margin-bottom: 5px;
  }

  #error-content {
    font-size: 24px;
  }
}

#placeholder-preview {
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
}

@media screen and (max-width: 300px) {
  #error-block {
    font-size: 36px;

    #error-content {
      font-size: 14px;
    }
  }
}

