.map-container {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 1px;
}

.map-frame {
border: 1px solid black;
height: 100%;
}

*{
    cursor: url('http://127.0.0.1:8888/res/cursor.png'), auto;
}

#map {
    height: 100%;
}

.mat-success{
    color: #155724 !important;
}

.custom-div-icon i {
    position: absolute;
    width: 50px;
    font-size: 50px;
    left: 0;
    right: 0;
    margin: 10px auto;
    text-align: center;
 }