<div class="map-container">
    <div class="map-frame">
      <div id="map">
        <app-image-manager *ngIf="showImageManager">
        
        </app-image-manager>
        <app-login-form *ngIf="showLoginForm">
        
        </app-login-form>
      </div>
      <grid-comp>

      </grid-comp>

    </div>
</div>